apiVersion: v1
automountServiceAccountToken: true
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/instance: kubernetes-replicator
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: kubernetes-replicator
    app.kubernetes.io/version: v2.12.2
    helm.sh/chart: kubernetes-replicator-2.12.2
  name: kubernetes-replicator
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/instance: kubernetes-replicator
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: kubernetes-replicator
    app.kubernetes.io/version: v2.12.2
    helm.sh/chart: kubernetes-replicator-2.12.2
  name: kubernetes-replicator
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - watch
  - list
- apiGroups:
  - ""
  resources:
  - secrets
  - configmaps
  - serviceaccounts
  verbs:
  - get
  - watch
  - list
  - create
  - update
  - patch
  - delete
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  verbs:
  - get
  - watch
  - list
  - create
  - update
  - patch
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/instance: kubernetes-replicator
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: kubernetes-replicator
    app.kubernetes.io/version: v2.12.2
    helm.sh/chart: kubernetes-replicator-2.12.2
  name: kubernetes-replicator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kubernetes-replicator
subjects:
- kind: ServiceAccount
  name: kubernetes-replicator
  namespace: kube-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: kubernetes-replicator
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: kubernetes-replicator
    app.kubernetes.io/version: v2.12.2
    helm.sh/chart: kubernetes-replicator-2.12.2
  name: kubernetes-replicator
  namespace: kube-system
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/instance: kubernetes-replicator
      app.kubernetes.io/name: kubernetes-replicator
  template:
    metadata:
      annotations:
        reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      labels:
        app.kubernetes.io/instance: kubernetes-replicator
        app.kubernetes.io/name: kubernetes-replicator
    spec:
      automountServiceAccountToken: true
      containers:
      - args:
        - -replicate-secrets=true
        - -replicate-configmaps=true
        - -replicate-roles=true
        - -replicate-role-bindings=true
        - -replicate-service-accounts=true
        image: quay.io/mittwald/kubernetes-replicator:v2.12.2
        imagePullPolicy: Always
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz
            port: health
          initialDelaySeconds: 60
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        name: kubernetes-replicator
        ports:
        - containerPort: 9102
          name: health
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /readyz
            port: health
          initialDelaySeconds: 60
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            cpu: 200m
            memory: 256Mi
          requests:
            cpu: 15m
            memory: 64Mi
        securityContext: {}
      securityContext: {}
      serviceAccountName: kubernetes-replicator
