apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata: # kpt-merge: kube-system/rke2-traefik
  name: rke2-traefik
  namespace: kube-system
  annotations:
    internal.kpt.dev/upstream-identifier: 'helm.cattle.io|HelmChartConfig|kube-system|rke2-traefik'
spec:
  valuesContent: |-
    additionalArguments:
      - "--api.insecure=true"
    ports:
      web:
        expose:
          default: true
      websecure:
        expose:
          default: true
